@use '../../styles/global.scss' as *;

.footer {
  min-height: 70px;
  @extend .flexCenter;

  .socials {
    @extend .flexCenter;
    gap: 1rem;

    svg {
      font-size: 2rem;
      cursor: pointer;
      transition: ease-in-out 0.4s all;

      &:hover {
        transform: rotate(360deg) scale(1.5);
      }

      &:nth-child(1) {
        color: $color-purple;
      }
      &:nth-child(2) {
        color: $color-darkPink;
      }
      &:nth-child(3) {
        color: $color-orange;
      }
      &:nth-child(4) {
        color: $color-darkOrange;
      }
    }
  }
}
