@use '../../styles/global.scss' as *;

.navbar {
  @extend .flexCenter;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  ul {
    @extend .flexCenter;
    gap: 1.5rem;
  }

  .logout {
    @extend .flexCenter;
    color: $color-darkOrange;
    background: #fff;
    border: 1px solid $color-darkOrange;
    font-weight: 700;

    svg {
      margin-right: 5px;
    }
  }

  height: 70px;
}
