@use '../../../styles/global.scss' as *;

.filterBox {
  @extend .flexCenter;
  gap: 2rem;
  margin: 2rem 0;

  span {
    padding: 0.3rem 0.3rem 0.3rem 0;
    background: $color-purple;
    border-radius: 5px;
    position: relative;
    width: 300px;
    @extend .flexCenter;
    justify-content: space-around;

    &:nth-child(2),
    &:nth-child(3) {
      padding: 0.3rem 0;
    }

    svg {
      position: absolute;
      left: 0.2rem;
      color: #fff;
      font-size: 2rem;
    }
  }

  input,
  select {
    width: 200px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 0.3rem;
  }
}
